<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	
	<bean id="motor" class="co.edu.usbcali.demo.vehiculo.Motor" scope="prototype">
	
		<constructor-arg name="cc" value="4500"/>
		<constructor-arg name="mark" value="Audi"/>
		<constructor-arg name="electric" value="false"/>
	</bean>
	
	<bean id ="automovil" class="co.edu.usbcali.demo.vehiculo.Automovil">
		<constructor-arg name="motor" ref="motor"/>
		<constructor-arg name="color" value="blue"/>
		<constructor-arg name="serial" value="250592"/>
	</bean>
	
	
</beans>
